* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffdd90;
    background-image: url("./pokedex-loading.png"); 
    background-size: 500px;
    background-position: center; 
    background-repeat: no-repeat;
    
}

form {
    width: 200px;
    margin: 10px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.img-container {
    position: relative;
    width: 160px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 3px;
    font-size: 10px;
}

.poke-types div {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px line-style black;
}

.poke-img {
    width: 160px;
    border-radius: 50%;
}